@font-face {
  font-family: 'bitbit';
  src: url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),
    url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2');
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.a {
  font-family: 'bitbit';
}
.b {
  font-family: 'GmarketSansMedium';
}
.c {
  font-family: 'S-CoreDream-3Light';
}
